
<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
	<style>
		body {
			background-color: #F5F5F5;
			font-family: Arial, sans-serif;
			text-align: center;
		}
		
		h1 {
			color: #666;
			margin-top: 50px;
			margin-bottom: 20px;
		}
		
		img {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			margin-bottom: 20px;
		}
		
		table {
			margin: 0 auto;
			border-collapse: collapse;
			width: 50%;
			margin-bottom: 20px;
		}
		
		table td {
			padding: 10px;
			border: 1px solid #ccc;
		}
		
		button {
			background-color: #4CAF50;
			color: white;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}
		
		button:hover {
			background-color: #3e8e41;
		}
	</style>
</head>
<body>
	<h1>Welcome to My Profile</h1>
	<img src="https://scontent.fdac8-1.fna.fbcdn.net/v/t39.30808-6/307978244_3343938352600331_1374088984813245639_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEeTR74N4bvAConoKFgtqXWXUWHmH3XWJVdRYeYfddYlWqKb3m0K8IKvctW3OLCtC-MpMZN_fAsY4gJjXET4NKW&_nc_ohc=utk0J93iADwAX-YGEma&_nc_ht=scontent.fdac8-1.fna&oh=00_AfDyECrURIn4OV0uhMzwLW93b9pjlEJ_UYP8PpnXDeDqrA&oe=641923F3" alt="Profile Picture">
	<table>
		<tr>
			<td>Name:</td>
			<td>MD TOUFIQ</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>mdtoufiq83@gmail.com</td>
		</tr>
		<tr>
			<td>Phone:</td>
			<td>01866733279</td>
		</tr>
		<tr>
			<td>Address:</td>
			<td>Saver,Boliyarpur,Dhaka</td>
		</tr>
	</table>
	<form action="/logout">
		<input type="submit" value="Logout">
	</form>
</body>
</html>